<!DOCTYPE html>
<html class="bg-cornsilk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Message Club</title>
    <link rel="icon" type="image/x-icon" href="/images/shh.png" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="h-screen flex flex-col">
    <header class="p-4 bg-rufous flex-none h-20 grid content-center">
      <h1 class="text-2xl text-white font-bold">Secret Message Club ;)</h1>
    </header>
    <nav class="flex-none p-3 bg-caput text-white shadow-md">
      <!-- DYNAMIC NAV OPTIONS -->
      <ul class="flex justify-center gap-4 text-white text-sm underline">
        <li class="hover:font-bold"><a href="/">Home</a></li>
        <% if (locals.currentUser) { %>
        <li class="hover:font-bold"><a href="/messages">Messages</a></li>
        <li class="hover:font-bold">
          <a href="<%= currentUser.url %>">Profile</a>
        </li>
        <li class="hover:font-bold"><a href="/log-out">Log Out</a></li>
        <% } else { %>
        <li class="hover:font-bold"><a href="/sign-up">Sign Up</a></li>
        <li class="hover:font-bold"><a href="/log-in">Log In</a></li>
        <% } %>
      </ul>
    </nav>
    <main class="bg-cornsilk flex-1 p-4 flex flex-col gap-4">
      <!-- DYNAMIC MAIN CONTENT OPTIONS -->
      <div class="flex-none flex items-center gap-4">
        <h2 class="font-bold text-xl"><%= header %></h2>
        <% if (locals.currentUser && ["member",
        "admin"].includes(locals.currentUser.membershipStatus)) { %>
        <a
          class="text-sm rounded bg-dukeblue text-white px-2 py-1 hover:cursor-pointer"
          href="/messages/create"
          >Add Message</a
        >
        <% } %>
      </div>
      <div class="flex-1 p-4 bg-chamoisee rounded-md shadow-md">
        <div class="h-full w-full flex flex-col gap-2">
          <% if (locals.allMessages.length) { %> <%
          locals.allMessages.forEach((message) => { %>
          <div class="bg-cornsilk rounded-lg p-2 flex flex-col gap-1">
            <div class="flex content-start gap-4 items-center justify-between">
              <p class="text-lg font-bold"><%= message.title %></p>
              <% if (locals.currentUser.membershipStatus === "admin") { %>
              <form action="/messages/<%= message.id %>/delete" method="POST">
                <input
                  type="submit"
                  value="Delete"
                  class="text-sm text-rufous italic hover:cursor-pointer"
                />
              </form>
              <% } %>
            </div>
            <p class="mb-1"><%= message.text %></p>
            <% if (["member",
            "admin"].includes(locals.currentUser.membershipStatus)) { %>
            <p class="italic text-sm self-end">
              <%= message.user %> - <%= message.formattedTimestamp %>
            </p>
            <% } else { %>
            <p class="italic text-sm self-end">anonymous</p>
            <% } %>
          </div>
          <% }); %> <% } else { %>
          <p>No messages added yet!</p>
          <% } %>
        </div>
      </div>
    </main>
    <footer
      class="bg-rufous text-white flex-none h-16 grid place-content-center"
    >
      <p>Copyright 2024 Maximilian Aoki</p>
    </footer>
  </body>
</html>
